{% extends "layout/main.twig" %}

{% block content %}

  <h1>Каталог товаров</h1>
  <div class="catalog">
    {% for val in model %}
      <div class="item">
        <a href="index.php?a=card&id={{ val.id }}">
          {% if val.img != '' %}
            <img src="./images/small/{{ val.img }}" alt="">
          {% else %}
            <div class="plug">Фото отсутствует</div>
          {% endif %}
        </a>
        <a href="index.php?a=card&id={{ val.id }}">
          <p>{{ val.name }}</p>
        </a>
        <p>Цена {{ val.price }} руб.</p>

        {% if SESSION.user %}
          <form action="" method="post">
            <input type="hidden" name="id_prod" value="{{ val.id }}">
            <input type="submit" name="submitAddBasket" class="submit" value="Добавить в корзину">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>

{% endblock %}